<!-- Center logo -->
<div class="payment-logo-container">
  <img src="assets/images/logo-light-text.png" alt="" class="center hidden-md-up">
</div>

<!-- Billing Period -->
<div class="container-fluid">
  <div class="row">

    <!-- Order Status -->
    <!-- ============================================================== -->
    <div class="col-12">
      <div class="card">
        <div class="card-body text-center">
          <i class="fa fa-thumbs-o-up order-status-icon text-blue"></i>
          <h4>Payment Successful</h4>
          <p class="mb0">Thank you Mr Soe, your order has been successfully completed.</p>
        </div>
      </div>
    </div>

    <!-- Order Date -->
    <!-- ============================================================== -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="semibold">Order Date</h5>
          <p class="mb0">{{orderdetails.payment_made_date| date:"dd MMMM yyyy"}}</p>
        </div>
      </div>
      <h5 class="mb20"></h5>
    </div>

    <!-- Order Number -->
    <!-- ============================================================== -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="semibold">Order Number</h5>
          <p class="mb0">00000{{orderdetails.id}}</p>
        </div>
      </div>
      <h5 class="mb20"></h5>
    </div>

    <!-- Order Summary -->
    <!-- ============================================================== -->
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h4 class="mb20">Order Summary</h4>

          <table class="table payment-table table-sm">
            <!-- LDS -->
            <tr>
              <td class="payment-desc">
                <p>Logistics Delivery System (LDS)</p>
                <p class="plan-type text-uppercase">Standard Plan</p>
                <p class="text-red fz12"><span class="bold">Billed annually :</span> 6 Nov 2017 - 5 Nov 2018</p>
              </td>
              <td class="payment-price">
                $240
              </td>
            </tr>

            <!-- LDS : Apptimice -->
            <tr>
              <td class="payment-desc">
                <p>Extension</p>
                <p class="plan-type">Apptimice</p>
                <p class="text-red fz12"><span class="bold">Billed monthly :</span> 6 Nov 2017 - 5 Dec 2017</p>
              </td>
              <td class="payment-price">
                $23
              </td>
            </tr>

            <!-- WMS -->
            <tr>
              <td class="payment-desc">
                <p>Warehouse Management System (WMS)</p>
                <p class="plan-type text-uppercase">Pro Plan</p>
                <p class="text-red fz12"><span class="bold">Billed annually :</span> 6 Nov 2017 - 5 Nov 2018</p>
              </td>
              <td class="payment-price">
                $540
              </td>
            </tr>

          </table>

          <div class="total lato">
            <div class="row">
              <div class="col-6">
                TOTAL</div>
                <div class="col-6 text-right">
                  $803
                </div>
              </div>
            </div>
          </div>
        </div><!-- /.card -->
      </div><!-- /.col-md-12 -->

      <!-- Payment Details -->
      <!-- ============================================================== -->
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4>Payment Method</h4>
            <!-- <p class="semibold mt20"><img src="assets/images/cards/paypal.png" alt=""></p>
            <p><span class="first_name">Brian</span> <span class="last_name">Robinson</span></p> -->
            <p class="semibold mt10"><img src="assets/images/cards/mastercard.png" alt=""> **** 2248</p>
          </div>
        </div>
      </div>

      <div class="col-12">
        <button type="button" name="button" class="center btn btn-green capital mb30 waves-effect waves-light" onclick="window.location.href='index.php'">Back to Dashboard</button>
      </div>

    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
