<body>
  <div class="creditCardForm">
  <ngb-alert *ngIf="showerror" type="warning" (click)="closealertvault()"><p *ngFor="let e of error">{{e.cfield}} {{e.issue}}<br> </p></ngb-alert>
    <div class="payment">
      <form>
        <div class="form-group owner"><input type="text" name="first_name" class="form-control" placeholder="First Name" [(ngModel)]="data.first_name"></div>
        <div class="form-group CVV"><input type="text" name="last_name" class="form-control" placeholder="Last Name" [(ngModel)]="data.last_name"></div>
        <div class="form-group owner"><input type="text" name="line1" class="form-control" placeholder="Address" [(ngModel)]="data.billing_address.line1"></div>
        <div class="form-group CVV"><input type="text" name="city" class="form-control" placeholder="City" [(ngModel)]="data.billing_address.city"></div>
        <div class="form-group owner"><input type="text" id="country" name="country_code" class="form-control" placeholder="Country Code" ></div>
        <div class="form-group CVV"><input type="text" name="postal_code" class="form-control" placeholder="Postal Code" [(ngModel)]="data.billing_address.postal_code"></div>
        <div class="form-group owner"><input type="text" name="state" class="form-control" placeholder="State" [(ngModel)]="data.billing_address.state"></div>
        <div class="form-group CVV"><input type="text" name="phone" class="form-control" placeholder="Phone" [(ngModel)]="data.billing_address.phone"></div>
        <div class="form-group" id="card-number-field"><input type="text" [readonly]="true" name="number" class="form-control" placeholder="Card Number" [(ngModel)]="data.number"></div>
        <!-- <div class="form-group" id="card-number-field"><input type="text" [readonly]="true" name="type" class="form-control" placeholder="Card Type" [(ngModel)]="data.type"></div> -->
        <div class="form-group" id="expiration-date">
          <label>Expiration Date</label>
          <select name="expire_month" class="month" [(ngModel)]="data.expire_month">
            <option value="1">January</option>
            <option value="2">February </option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
          <select name="expire_year" class="year" [(ngModel)]="data.expire_year">
            <option value="2018"> 2018</option>
            <option value="2019"> 2019</option>
            <option value="2020"> 2020</option>
            <option value="2021"> 2021</option>
            <option value="2022"> 2022</option>
            <option value="2023"> 2023</option>
            <option value="2024"> 2024</option>
            <option value="2025"> 2025</option>
            <option value="2026"> 2026</option>
            <option value="2027"> 2027</option>
            <option value="2027"> 2028</option>
            <option value="2027"> 2029</option>
            <option value="2027"> 2030</option>
            <option value="2027"> 2031</option>
            <option value="2032"> 2032</option>
            <option value="2033"> 2033</option>
            <option value="2034"> 2034</option>
            <option value="2035"> 2035</option>
            <option value="2036"> 2036</option>
            <option value="2037"> 2037</option>
            <option value="2038"> 2038</option>
            <option value="2039"> 2039</option>
            <option value="2040"> 2040</option>
            <option value="2041"> 2041</option>
            <option value="2042"> 2042</option>
            <option value="2043"> 2043</option>
            <option value="2044"> 2044</option>
            <option value="2045"> 2045</option>
            <option value="2046"> 2046</option>
            <option value="2047"> 2047</option>
            <option value="2048"> 2048</option>
            <option value="2049"> 2049</option>
            <option value="2050"> 2050</option>
          </select>
        </div>
        <div class="form-group" id="credit_cards">
            <img src="assets/images/visa.jpg" id="visa" [ngClass]="cardtype=='visa'? '':'transparent'">
            <img src="assets/images/mastercard.jpg" id="mastercard" [ngClass]="cardtype=='mastercard'? '':'transparent'">
            <img src="assets/images/amex.jpg" id="amex" [ngClass]="cardtype=='amex'? '':'transparent'">
        </div>
        <div class="form-group" id="pay-now">
            <button type="submit" [disabled]="buttondisabled" class="btn btn-default" id="confirm-purchase" (click)="updatecompanycard()"><i [ngClass]="iconpay"></i>&nbsp; {{buttontext}}</button>
        </div>
      </form>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
